~$*
/sql
.idea/*
.ideal/*.xml
logs
*.iml
*.ipr
*.iws
.project
.classpath
.settings
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
.DS_Store
*/logs
target
target/*
/bin/*
/bin/
